#main-div {
  background-color: rgba(20, 20, 20);
}

#logo-netflix {
  height: auto;
  width: 6em;
}

#avatar {
  height: auto;
  width: 3em;
}

.nav-link,
footer p,
.footer-link,
footer i {
  transition: transform 0.2s ease-in-out;
}

.nav-link:hover,
footer p:hover,
.footer-link:hover {
  transform: scale(0.93);
}

footer section {
  width: 50%;
  margin: 0 auto;
}
footer i {
  font-size: 2em;
}

.pointer {
  cursor: pointer;
}

.carousel-poster {
  display: inline-block !important;
  position: relative;
  z-index: 1;
}

.carousel-poster:hover {
  transform: scale(0.93) !important;
  z-index: 10;
}

#profile-main-section {
  width: 70%;
  margin: 0 auto;
}

.netflix-hero {
  min-height: 85vh;
  position: relative;
  background-color: #141414;
  background-image:
    linear-gradient(to right, rgba(0, 0, 0, 0.8) 10%, rgba(0, 0, 0, 0) 70%),
    linear-gradient(to top, rgba(20, 20, 20, 1) 0%, rgba(20, 20, 20, 0) 25%),
    url("./friends-background.jpg");
  background-size: cover;
  background-position: center 20%;
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
  transition: all 0.3s ease-in-out;
}

@media (max-width: 767.98px) {
  .netflix-hero {
    min-height: 60vh;
    background-position: center center;

    background-image:
      linear-gradient(
        to top,
        rgba(20, 20, 20, 1) 15%,
        rgba(20, 20, 20, 0.4) 100%
      ),
      url("./friends-background.jpg");

    padding-top: 60px;
    align-items: flex-end;
    padding-bottom: 40px;
  }

  .netflix-hero img {
    max-width: 200px !important;
    margin-bottom: 1rem !important;
  }

  .netflix-hero p {
    font-size: 1rem !important;
    line-height: 1.4;
  }
}

.btn-netflix-light {
  background-color: white !important;
  color: black !important;
  border: none !important;
}

.btn-netflix-dark {
  background-color: rgba(109, 109, 110, 0.7) !important;
  color: white !important;
  border: none !important;
}
