#main-div {
  background-color: rgba(20, 20, 20);
}

#logo-netflix {
  height: auto;
  width: 6em;
}

#avatar {
  height: auto;
  width: 3em;
}

.nav-link,
footer p,
.footer-link,
footer i {
  transition: transform 0.2s ease-in-out;
  cursor: pointer;
}

.nav-link:hover,
footer p:hover,
.footer-link:hover {
  transform: scale(0.93);
}

footer section {
  width: 50%;
  margin: 0 auto;
}
footer i {
  font-size: 2em;
}
